
/* Font faces */
/* -------------------------------------------------- */

@font-face {
    font-family: "SF Pro Display";
    font-weight: 300;
    src: url("../fonts/SF-Pro-Display-Light.otf");
}

@font-face {
    font-family: "SF Pro Display";
    font-weight: 600;
    src: url("../fonts/SF-Pro-Display-Semibold.otf");
}

@font-face {
    font-family: "SF Pro Text";
    font-weight: 400;
    src: url("../fonts/SF-Pro-Text-Regular.otf");
}

/* Reset CSS */
/* -------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style */
/* -------------------------------------------------- */

/* General */

* {
    box-sizing: border-box;
}

body {
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 400;
    background-color: #FEFEFE;
    color: #111;
}

.content {
    max-width: 980px;
    margin: 0 auto;
}

header, section, footer {
    padding: 40px 80px;
}

h1, p {
    line-height: 1.29em;
}

p {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 1.29em;
}

a {
    cursor: pointer;
    transition: transform 0.4s;
    text-decoration: none;
}

/* Headline section */

.headline-wrapper {
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.headline-wrapper .links {
    align-self: flex-start;
    width: 230px;
    text-align: right;
}

.headline-text {
    align-self: center;
    justify-self: flex-end;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 300;
    font-size: 48px;
}

.headline-text .author-name {
    font-weight: 600;
}

.links a {
    display: inline-block;
    margin-left: 15px;
}

.links a:hover {
    transform: scale(1.1);
}

/* Apps section */

.portfolio-wrapper {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #111;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.app {
    text-align: center;
    margin: 0 65px;
}

.app-icon {
    display: block;
    width: 129px;
    height: 129px;
    margin: 0 auto;
}

.app-name {
    margin-top: 15px;
    margin-bottom: 0;
    color: black;
    font-size: 16px;
}

/* About */

.about {
    padding-top: 60px;
}

/* Footer */

.footer-call-action {
    padding-top: 0;
    text-align: center;
}

.footer-call-action nav {
    margin-bottom: 35px;
}

.footer-call-action p:last-child {
    font-size: 16px;
    margin-bottom: 0;
}

.contact-call-action {
    display: inline-block;
}

.contact-call-action:hover {
    transform: scale(1.1);
}

.contact-call-action .mail-image {
    display: inline-block;
    width: 80px;
    height: 80px;
}

/* Media queries */

@media (min-width: 979px) {

    /* Portfolio */

    .portfolio-wrapper {
        background-image: url("../assets/styles/portimage.jpg");
    }
}

@media (max-width: 930px) {

    /* Portfolio */

    .app {
        margin: 0 30px;
    }
}

@media (max-width: 820px) {

    /* Headline */

    .headline-text {
        font-size: 40px;
        width: 100%;
    }
}

@media (max-width: 745px) {

    /* General */

    header, section, footer {
        padding: 30px 50px;
    }
}

@media (max-width: 690px) {

    /* Headline */

    .headline-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .headline-wrapper .links {
        align-self: flex-end;
    }

    .headline-wrapper .headline {
        flex-grow: 1;
        display: flex;
    }

    /* Portfolio */

    .portfolio {
        height: 450px;
    }

    .app-icon {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 570px) {

    /* Portfolio */

    .portfolio-wrapper {
        background-image: url("../assets/styles/portimage.jpg");
    }

    .app {
        margin: 0 20px;
    }

    .app-icon {
        width: 75px;
        height: 75px;
    }

    .app-name {
        font-size: 14px;
    }
}


@media (max-width: 500px) {

    /* General */

    header, section, footer {
        padding: 15px 35px;
    }

    p {
        margin-bottom: 20px;
        font-size: 16px;
    }

    /* Headline */

    .headline-text {
        font-size: 35px;
    }

    /* Portfolios */

    .portfolio {
        height: 330px;
    }

    .app-icon {
        width: 60px;
        height: 60px;
    }

    /* About */

    .about {
        padding-top: 35px;
    }

    /* Footer */

    .contact-call-action .mail-image {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 420px) {

    /* General */

    header, section, footer {
        padding: 20px;
    }

    /* Headline */

    .headline-wrapper {
        height: 350px;
    }

    .headline-text {
        font-size: 28px;
    }

    /* Portfolio */

    .portfolio {
        height: initial;
    }

    .app {
        margin: 10px;
    }

    .app-name {
        margin-top: 8px;
    }
}
